/* Colors Start */
/* #FF00A2 */
/* #03a9f4 */
/* Colors End */


/* About Start */

/* body{
  color: #6F8BA4;
  margin-top:20px;
} */
.section {
  padding: 100px 0;
  position: relative;
}
/* .gray-bg {
  background-color: #f5f5f5;
} */
img {
  max-width: 100%;
}
img {
  vertical-align: middle;
  border-style: none;
}
/* About Me 
---------------------*/
.about-text h3 {
font-size: 45px;
font-weight: 700;
margin: 0 0 6px;
}
@media (max-width: 767px) {
.about-text h3 {
  font-size: 35px;
}
}
.about-text h6 {
font-weight: 600;
margin-bottom: 15px;
}
@media (max-width: 767px) {
.about-text h6 {
  font-size: 18px;
}
}
.about-text p {
font-size: 18px;
max-width: 450px;
}
.about-text p mark {
font-weight: 600;
color: #20247b;
}

.about-list {
padding-top: 10px;
}
.about-list .media {
padding: 5px 0;
}
.about-list label {
color: #20247b;
font-weight: 600;
width: 88px;
margin: 0;
position: relative;
}
.about-list label:after {
content: "";
position: absolute;
top: 0;
bottom: 0;
right: 11px;
width: 1px;
height: 12px;
background: #20247b;
-moz-transform: rotate(15deg);
-o-transform: rotate(15deg);
-ms-transform: rotate(15deg);
-webkit-transform: rotate(15deg);
transform: rotate(15deg);
margin: auto;
opacity: 0.5;
}
.about-list p {
margin: 0;
font-size: 15px;
}

@media (max-width: 991px) {
.about-avatar {
  margin-top: 30px;
}
}

.about-section .counter {
padding: 22px 20px;
background: #ffffff;
border-radius: 10px;
box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
}
.about-section .counter .count-data {
margin-top: 10px;
margin-bottom: 10px;
}
.about-section .counter .count {
font-weight: 700;
color: #20247b;
margin: 0 0 5px;
}
.about-section .counter p {
font-weight: 600;
margin: 0;
}
mark {
  background-image: linear-gradient(rgba(252, 83, 86, 0.6), rgba(252, 83, 86, 0.6));
  background-size: 100% 3px;
  background-repeat: no-repeat;
  background-position: 0 bottom;
  background-color: transparent;
  padding: 0;
  color: currentColor;
}
.theme-color {
  color: #fc5356;
}
.dark-color {
  color: #20247b;
}

/* About End */

/* Timeline Starts */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  /* background: #456990; */
  color: #000;
  overflow-x: hidden;
  padding-bottom: 50px;
}


/* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.intro {
  /* background: #f45b69; */
  padding: 100px 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  align-content: center;
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
  /* background: #456990; */
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #FF00A2;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #03a9f4;
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #03a9f4 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #03a9f4;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #03a9f4;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #f45b69 transparent transparent;
  }
}


/* EXTRA/CLIP PATH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline-clippy ul li::after {
  width: 40px;
  height: 40px;
  border-radius: 0;
}

.timeline-rhombus ul li::after {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div::before {
  bottom: 12px;
}

.timeline-star ul li::after {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.timeline-heptagon ul li::after {
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
}

.timeline-infinite ul li::after {
  animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.25);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}



/* Timeline Ends */



/* Skills Start */

h1 {
  text-align:center;
  color:white;
  font-family: Verdana;
  font-size: 60px;
 text-shadow: 2px 2px 7px rgba(150, 150, 150, 1);
}
p {
  font-family:verdana;
  text-align: left;
}


.containerskills {
  max-width: 1150px;
  margin : 0 auto;
}
.full-w{
  width:100%;
  height: 2em;
}
.round p{
  color:white;
  padding-left: 20px;  
 }
.round {
  line-height: 2em;

  box-sizing:border-box;
  overflow: hidden;
  border-radius: 20px;
}
.envolt{
  background-color:#f77a4c;
  margin-bottom: 10px;
  text-align: left;
  
}

.envolt2{
  background-color:#428ff4;
  margin-bottom: 10px;
}

.envolt3{
  background-color:#f4eb42;
  margin-bottom: 10px;
}

.envolt4{
  background-color:#9a69ef;
  margin-bottom: 10px;
}

.envolt5{
  background-color:#eda457;
  margin-bottom: 10px;
}

.envolt6{
  background-color:#f77a4c;
  margin-bottom: 10px;
  text-align: left;
  
}

.envolt7{
  background-color:#428ff4;
  margin-bottom: 10px;
}

.envolt8{
  background-color:#f4eb42;
  margin-bottom: 10px;
}

.envolt9{
  background-color:#9a69ef;
  margin-bottom: 10px;
}

.envolt10{
  background-color:#eda457;
  margin-bottom: 10px;
}
/*html5*/
.bar{
  background-color:#F16528;
  height: 100%;
  width: 80%;
  
}

/*css3*/
.bar2{
  background-color:#4271f4;
  height: 100%;
  width: 70%;
  text-align: center;
  
  
}

.bar3{
  background-color:#f4d942;
  height: 100%;
  width: 40%;
  
}

.bar4{
  background-color:#7c47d8;
  height: 100%;
  width: 50%;
  
}
.bar5{
  background-color:#d38c3f
;
  height: 100%;
  width: 60%;
  
}

.bar6{
  background-color:#F16528;
  height: 100%;
  width: 80%;
  
}

/*css3*/
.bar7{
  background-color:#4271f4;
  height: 100%;
  width: 80%;
  text-align: center;
  
  
}

.bar8{
  background-color:#f4d942;
  height: 100%;
  width: 80%;
  
}

.bar9{
  background-color:#7c47d8;
  height: 100%;
  width: 70%;
  
}
.bar10{
  background-color:#d38c3f;
  height: 100%;
  width: 70%;
  
}
.envolt{
  margin-top:0em;
}

.animate {
    animation-name: charge;
  
    animation-duration: 4s;
  
}
/* @keyframes charge {
    0%   { width:  0%;  }
    25%  { width : 25%; }
    50%  { width : 50%; }
    75%  { width : 75%; }
    100% { width : 100%;}
} */

/* Skills End */



/* Projects Start */

@import url('https://fonts.googleapis.com/css?family=Lato');



.viewport{
  position:relative;
  /* background: linear-gradient(90deg, #20e6b3, #8e11f3, #4c20d4); */
  background-size: 200% 200%;
  height: auto;
  width:100%;
  -webkit-animation:   AnimationName 10s ease infinite;
-moz-animation: AnimationName 10s ease infinite;
animation: AnimationName 10s ease infinite;
  
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.card p{
  font-family: lato;
  margin:0px;
  color: black;
  font-weight: 400;
  font-size:15px;
  line-height:90%;
  padding-left: 8%;
  padding-right: 8%;
  padding-top:3%;
  padding-bottom:8%;
  border-radius:20px;
  cursor:pointer;
  transition: ease 1s;
  -webkit-transition: ease 1s;
}

.card h3{
  font-family: lato;
  margin:0px;
  color: black;
  font-weight: 400;
  font-size:20px;
  line-height:90%;
  padding-left: 8%;
  padding-top:8%;
  padding-bottom:3%;
  border-radius:20px;
  cursor:pointer;
  transition: ease 1s;
  -webkit-transition: ease 1s;
}

h1{
  font-family: lato;
  color:white;
  font-weight: 400;
  font-size:35px;
  line-height:90%;
  padding-bottom:140px;
  padding-top:150px;
  position:relative;
  text-align:center;
  
}

.title{
  width:78%;
  margin:auto;
  padding-left:0px;
  padding-bottm:0px;
}

.cards{
  width:80%;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  padding-bottom:200px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.card{
  width:22%;
  position:relative;
  background-color:white;
  margin:1.13%;
  border-radius:5px;
  transition: 1s;
  -webkit-transition:0.5s;
  cursor:pointer;
    flex: 1 1 auto;
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}

@media screen and (max-width: 1200px){
  .card{
  width:30%;
  margin:1.6%;
  }
}

@media screen and (max-width: 800px){
  .card{
  width:45%;
  margin:2.5%;
  }
}

@media screen and (max-width: 500px){
  .card{
  width:98%;
  margin:2%;
  }
}

.card_img{
  width:100%;
  height:150px;
  position:reltive;
  border-radius: 5px 5px 0px 0px;
  background-size: cover;
  background-position:center center; 
  background-color: #20e6b3;
  transition:1s;
  -webkit-transition:1s;
}

.card1{
   background-image: url(https://i.postimg.cc/NjyMLQkq/selenaproject.jpg);
}
.card2{
   background-image: url(https://i.postimg.cc/YSYCf8Pd/snacksproject.jpg);
}
.card3{
   background-image: url(https://i.postimg.cc/9Fkm6v5x/fayescafeproject.jpg);
}
.card4{
   background-image: url(https://i.postimg.cc/YSTkVF5h/bmicalculator.png);
}
.card5{
   background-image: url(https://i.postimg.cc/RZPDpzkF/redstore.png);
}
.card6{
   background-image: url(https://i.postimg.cc/RVMY9Rx2/pokemonapi.png);
}

.line{
  height:2px;
  width:84%;
  margin:auto;
  background-color: #8e11f3;
}

.title input{
  background: transparent;
  border:1px solid white;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:20px;
  display:inline;
  font-family: lato;
  color: white;
  font-size:18px;
  line-height:90%;
  border-radius:30px;
  width:150px;
  float:right;
  margin-top:30px;
}

.title textarea:focus, input:focus{
    outline: none;
}

.plus{
  width:20px;
  height:20px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  border: 2px solid white;
  top:10px;
  right:10px;
  transition: 1s;
  -webkit-transition: 1s;
}

.plus:hover{
  transform: scale(1.1) rotate(90deg);
}

.plus p{
  padding: 0px !important;
  display:inline;
  margin:0px;
  line-height:50%;
  left:50%;
  top:45.3%;
  transform:translate(-50%,-50%);
  position:absolute;
  color: white;
}

.zoomed{
  width:100%;
}


.comment-respond button {
  margin-top: 20px;
  padding: 15px 30px;
  background: white;
  border: 1px solid #D6CCC7;
  font-family: "Old Standard TT", Times New Roman, serif;
  font-size: 16px;
  line-height: 1.5;
  color: #433F3F;
  cursor: pointer;
  transition: background .15s ease-in-out;
}
.comment-respond button:hover {
  background: #8e11f3;
  color: white;
}

/* Projects End */





/* testimonials start */

/* body{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	font-family:sans-serif; */
/* 	background-color:#262626; */
	/* background: #ee0979;  fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #ee0979 ,#ff6a00);  Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to right, #ee0989, #ff6f00); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

/* } */
.testimonials{
	margin:200px auto 100px;
	display:grid;
	grid-template-columns: repeat(auto-fit,minmax(350px, 1fr));
	grid-gap:20px;
}
.testimonials .testcard{
	position:relative;
	width:350px;
	margin:0 auto;
	background:#333;
	padding:20px;
	box-sizing: border-box;
	text-align:center;
	box-shadow:0 10px 40px rgba(0,0,0,.5);
	overflow: hidden;
}
.testimonials .testcard .layer{
	position: absolute;
	top: calc(100% - 3px);
	width:100%;
	height:100%;
	left:0;
	background:linear-gradient(#03a9f4, #03a9f5);
	z-index:1;
	transition:0.5s;
}
.testimonials .testcard:hover .layer{
	top:0;
}
.testimonials .testcard .content{
	position:relative;
	z-index:2;
}
.testimonials .testcard .content p{
	font-size:18px;
	line-height:24px;
	color:#FFF;
}
.testimonials .testcard .content .image{
	width:100px;
	height:100px;
	margin: 0 auto;
	border-radius:50%;
	overflow:hidden;
	box-shadow: 0 10px 20px rgba(0,0,0, .2);
}
.testimonials .testcard .content .details h2{
	font-size:15px;
	color:#fff;
}
.testimonials .testcard .content .details h2 span{
	color:#03a9f4;
	font-size:12px;
	transtion:0.5s;
}
.testimonials .testcard:hover .content .details h2 span{
	color:#fff;
}

/* testimonials end */



/* Contact Start */

/* body{
  background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
} */
.contact-form{
  background: #fff;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 70%;
}
.contact-form .form-control{
  border-radius:1rem;
}
.contact-image{
  text-align: center;
}
.contact-image img{
  border-radius: 6rem;
  width: 11%;
  margin-top: -3%;
  transform: rotate(29deg);
}
.contact-form form{
  padding: 14%;
}
.contact-form form .row{
  margin-bottom: -7%;
}
.contact-form h3{
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: #0062cc;
}
.contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #dc3545;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.btnContactSubmit
{
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
}
/* Contact End */